<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Dashboard</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar navbar-dark bg-dark">
<!--    로고 끼워넣기-->
<!--  <a class="navbar-brand" href="#">-->
<!--    <img src="https://picsum.photos/id/237/200/300" width="30" height="30" alt="">-->
<!--  </a>-->
  <a class="navbar-brand" href="#">New<br></br>bit</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse d-flex justify-content-end" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <a class="nav-item nav-link active" href="#">Home <span class="sr-only">(current)</span></a>
      <a class="nav-item nav-link" href="#">Category</a>
      <a class="nav-item nav-link" href="#">Topic</a>
    </div>
  </div>
</nav>

<div class="row">
    <div class="col-6 mt-3">
        <div class="card">
            <div class="card-header">
                검색어
            </div>
            <div class="card-body">
                <h5>{{test}}</h5>
            </div>
        </div>
    </div>
    <div class="col-6 mt-3">
        <div class="card">
            <div class="card-header">
                키워드 추가
            </div>
            <div class="card-body">
                <h5>#</h5>
            </div>
        </div>
    </div>
</div>
{% block body %}
{% endblock %}
</body>
</html>